.dive-landing-background{
  background: url('/images/underwater.jpg') no-repeat center center fixed;
  background-size: cover;
  padding-bottom: 150px;
}

.dive-create-background{
	background: url('/images/fish.jpg') no-repeat center center fixed;
	background-size: cover;
	padding-bottom: 100px;
}

.h1{
  font-family: "Lucida Console";
  color: white
}


